:root {
    --primaryColor: #687122;
    --secondaryColor: #f1f1f1;
    --textColor: #343434;
    --backgroundColor: #e5e5e5;
    --fontFamily: system-ui, sans-serif;
    --kalam: Kalam, cursive;
}

@font-face {
    font-family: Kalam;
    font-weight: 400;
    font-display: block;
    src: url($lib/assets/fonts/kalam.woff);
}

@font-face {
    font-family: "Material Icons";
    font-display: block;
    src: url($lib/assets/fonts/material-icons.woff2) format("woff2");
}

* {
    box-sizing: border-box;
}

html,
body,
#app,
#app > div {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: var(--backgroundColor);
}

body {
    font-family: var(--fontFamily);
    margin: 0;
    padding: 0;
    color: var(--textColor);
    user-select: none;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding-bottom: env(safe-area-inset-bottom);
}

#app {
    max-width: 800px;
    margin: auto;
}

a {
    display: block;
    color: unset;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
}

button {
    border: none;
    padding: 0;
    color: unset;
    background-color: unset;
    font-family: unset;
    text-align: unset;
    font-size: 16px;
}

select {
    width: 100%;
    height: 40px;
    line-height: 40px;
    outline: none;
    border: none;
    padding: 0 0 0 10px;
    font-size: 16px;
    color: var(--textColor);
    background-color: var(--secondaryColor);
    font-family: var(--fontFamily);
    font-weight: 500;
}

.icon {
    color: white;
    font-size: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Material Icons, sans-serif;
    font-style: normal;
    font-feature-settings: "liga";
    -webkit-font-feature-settings: "liga";
    -webkit-font-smoothing: antialiased;
}

.view {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.view main {
    width: 100%;
    height: 100%;
    padding: 10px;
}

.box {
    width: 100%;
    background-color: white;
    margin-top: 10px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

.box:first-child {
    margin-top: 0;
}

.box-header {
    width: 100%;
    height: 40px;
    line-height: 40px;
    overflow: hidden;
}

.box-header-text {
    font-size: 16px;
    font-weight: 500;
    padding-left: 10px;
    float: left;
}

.box-title {
    font-size: 16px;
    font-weight: 500;
}

.box-content {
    padding: 0 10px 10px;
    overflow: hidden;
    font-size: 15px;
}

.box-button {
    width: calc(50% - 5px);
    background-color: var(--secondaryColor);
    text-align: center;
    float: left;
    padding: 10px;
    margin-right: 10px;
    font-weight: 500;
}

.box-button:last-child {
    margin-right: 0;
}